@{
    ViewBag.Title = "Home Page";
}

<a href="Start">Start a new game!</a><br/>
<a href="Bot"></a>

<h2>@ViewBag.Message</h2>
<p>
    Player 1: <input type="text"/><br/>
    Player 2: <input type="text"/><br/>
    <button type="submit">New Game</button>
</p>
